<!--
NOTE: The given html code implies the use of Twitter Bootstrap!
Be sure to have Bootstrap linked to your project!
-->
<fieldset>
  <legend>Add new Data</legend>
  <div class="form-group">
    <label for="tb-data-title">Title: </label>
    <input type="text" id="tb-data-title" class="form-control" />
  </div>
  <div class="form-group">
    <label for="tb-data-field1">Field1: </label>
    <input type="text" id="tb-data-field1" class="form-control" />
  </div>
  <div class="form-group">
    <label for="tb-data-field2">Field2:</label>
    <input type="text" id="tb-data-field2" class="form-control" />
  </div>
  <div class="form-group">
    <label for="tb-data-field3">Field3: </label>
    <textarea type="text" id="tb-data-field3" class="form-control" />
  </div>
  <button class="form-control btn btn-primary" id="btn-data-add">DataAdd</button>
</fieldset>